

.header {
    display:flex;
    justify-content: space-between;
}
.header h1 {
    font-size: 70px;
}
.header nav {display: flex;
    justify-content: center;
    align-items: center;
}
.header nav a{
     padding: 6px;
     margin: 6 px;
     border: 1px solid black;
}
,header a :hover{
    color: yellow;
}

#about-me img {height: 200px;px;
    width: 150px;
}
#about-me {
    display:flexbox;
    flex-wrap: wrap;
}
#about-me h2 {

}
#about-me h2 p {
    padding-left: 6%;
}

.footer {
border: 1px solid red;

}

.footer h2 {
    align-self: center;
}
.footer ul {
    
}