/* Variable to make changes to colors throughout the site uniform and easy to change in a moment */
:root {
    --text-color: rgb(248, 247, 245);
    --background-color: #0f171c;
}

/* Header portion with nav links */

.header {
    display:flex;
    padding-left: 3%;
    justify-content: space-between;
    max-width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}
.header h1 {
    font-size: 400%;
}
.header nav {display: flex;
    justify-content: center;
    align-items: center;
}
.header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
ul li { /*margin around the top nav bar links*/
        margin: 5px;
        display: flex;
        font-size: 250%;
        justify-content: center;
        text-align: center;
}
.header nav a{
     padding: 9px;
     margin: 6px;
     color: var(--text-color);
     
}

.header a:hover{
    color: var(--text-color);
    text-decoration: none;
}
/* Start of main content area */
.challenge {
    background-image: url("/Assets/images/ash-edmonds-0aWZdK8nK2I-unsplash.jpg");
    height: 600px;
    display:block;
    align-items: center;
    text-align: center;
    padding: 150px;
    font-size: 500%;
    color: var(--text-color);
    text-shadow: 8px 8px black;
}

.content{
    background-color: var(--background-color);
    padding: 2%
}
#about-me img {
    height: 300px;
    width: 225px;
}
#about-me {
    display:flex;
    max-width: 100%;
    padding-right: 5%;
}
#about-me h2 {

}
#about-me div {
    padding-left: 3%;
}

#first-work{
max-width: 100%;
max-height: 800px;

}

.first-work h3, .first .first-work h3 p {
    position: relative;
    background-color: gray;

}

#second_work{
    max-width: 40%;
}

#work h3 {
    position:relative;
    top: 30 px;
}

.footer {
    display: flex;
align-items: center;
justify-content: space-between;
padding-left: 3%;
padding-right: 10%;
background-color: var(--background-color);

}

.footer h2 {
    font-size: 250%;
    color: var(--text-color);
}
.footer ul {
    color: var(--text-color);
    display: flex;
    list-style: none;
}

.footer ul li {
    font-size: 20px;
    color: var(--text-color);
}

.footer a{
    color: var(--text-color);
}
.footer a:hover{
    text-decoration: none;
}
@media screen and (max-width: 1100px) {
.header h1 {
    font-size: 100%;
    color: red;
}

}